html, body {
    position: fixed;

    width: 100vw;
    height: 100vh;

    margin: 0px;
    padding: 0px;

    /* overflow: hidden; */
}

.radial {
    position: absolute;
    padding: 0px;
    margin: 0px;
    width: 144px;
    height: 144px;
}

#debug-output {
    overflow-x:wrap;
    overflow-y:scroll;
    height:400px;
    width:750px;
}

.show-me {
    /* border-color: black; */
    /* border-width: 1px; */
    /* border-style: solid; */
    outline: 5px solid blue;
    outline-offset: -10px;
}

.bigfont {
    font-size:16px;
}

@media(min-aspect-ratio: 16/10.5) {
    .fixed-frame {
        width: calc(100vh * 16/10.5);
        height: 100vh;
    }
}

@media(aspect-ratio: 16/10.5) {
    .fixed-frame {
        width: 100vw;
        height: 100vh;
    }
}

@media(max-aspect-ratio: 16/10.5) {
    .fixed-frame {
        width: 100vw;
        height: calc(100vw * 10.5/16);
    }
}

.sub-menu {
    position: absolute;
    top: 0px;
    right: 50px;
    width: 250px;
    display: none;
    justify-content: center;
    align-content: center;
    flex-flow: column;
    background-color: tan;
    padding: 5px;
    margin: 5px;
}

#color-container {
    display: flex;
    flex-wrap: wrap;
}

.color-button {
    width: 50px;
    height: 50px;
}

.pointer-width {
    width: auto;
    margin: 2px;
    padding: 2px;
}

#menu-container {
    position: absolute;
    top: 0px;
    right: 0px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-flow: column;
}

.menu-button {
    //position: relative;
    //height: 20px;
    //width: 20px;
    background-color: tan;
    display: flex;
    justify-content: center;
    align-content: center;
}

.icon-container {
    display: flex;
    justify-content: center;
    align-content: center;
}

.icon {
    background-color: tan;
    padding: 5px;
    //margin: 5px;
    width: 30px;
    height: 30px;
}

.row-container {
    background-color: tan;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-flow: row;
}

#expand {
    display: initial;
}

#compress {
    display: none;
}

#debug-menu {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: tan;
    display: flex;
    display: none;
    justify-content: center;
    align-content: center;
    flex-flow: column;
}

.debug-label {
    font-size: 8pt;
    width: 75px;
    line-height: 50px;
    //background-color: white;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-flow: row;
}

#bg-board {
    width: 100vw;
}

.offscreen {
    position: absolute;
    left: 100vw;
    top: 100vh;
    display:none;
}

/*
#fg-board {
width:100vw;
display:none;
}

#bs-board {
width: 100vw;
display:none;
}
 */

    #canvas-container {
        display:flex;
    }

    #whiteboard {
    }
